<p></p>
<div class="w3-container">

    <button class="w3-btn w3-teal">Novo</button>
    <p></p>

    <table class="w3-table" *ngIf="tributos$ | async as tributos; else loading">
      <tr class="w3-teal">
        <th>ID</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Multa</th>
        <th>Juros</th>
        <th>#</th>
      </tr>
      <tr *ngFor="let tributo of tributos">
        <td>{{ tributo.id }}</td>
        <td>{{ tributo.nome }}</td>
        <td>{{ tributo.tipoTributo }}</td>
        <td>{{ tributo.taxaMulta }}</td>
        <td>{{ tributo.taxaJuros }}</td>
        <td>#</td>
      </tr>
    </table>
    <br>
    <ng-template #loading>
      <p>Carregando dados...</p>
    </ng-template>
  
  </div>