<p></p>
<div class="w3-container">

    <button class="w3-btn w3-teal" routerLink="/destinacoes/novo">Nova</button>
    <p></p>
    
    <table aria-describedby="destinações" class="w3-table" 
        *ngIf="destinacoes$ | async as destinacoes; else loading">
        <tr class="w3-teal">
            <th>Id</th>
            <th>Nome</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let destinacao of destinacoes">
            <td>{{ destinacao.id }}</td>
            <td>{{ destinacao.nome }}</td>
            <td>#</td>
        </tr>
    </table>

    <ng-template #loading>
        <p>Carregando dados...</p>
    </ng-template>
    

</div>
