<p></p>
<div class="w3-container">

    <button class="w3-btn w3-teal">Novo</button>
    <p></p>

    <div class="w3-row-padding">

        <div class="w3-col s5">

            <select *ngIf="contribuintes$ | async as contribuintes; else loadingContribuintes"
              class="w3-select" id="selectEstado"
              [(ngModel)]="contribuinte">
              <option value="0" selected disabled>Selecione um contribuinte...</option>
              <option *ngFor="let contribuinte of contribuintes"
                [value]="contribuinte.id">{{ contribuinte.nome }}</option>
            </select>
      
            <ng-template #loadingContribuintes>
              <select class="w3-input" id="selectCarregandoContribuintes">
                <option value="" disabled selected>Carregando Contribuintes...<option>
              </select>
            </ng-template>
      
        </div>

        <div class="w3-col s1">
            <button class="w3-btn w3-teal" (click)="pesquisarContribuinte()">Pesquisar</button>
        </div>

    </div>
    
    <p></p>

    <table aria-describedby="DUAMs" class="w3-table" 
        *ngIf="duams$ | async as duams; else loading">
        <tr class="w3-teal">
            <th>Id</th>
            <th>Contribuinte</th>
            <th>Tributo</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let duam of duams">
            <td>{{ duam.id }}</td>
            <td>{{ duam.contribuinte.nome }}</td>
            <td>{{ duam.tributo.tipoTributo }}</td>
            <td>{{ duam.dataVencimento }}</td>
            <td>{{ duam.valor }}</td>
            <td>#</td>
        </tr>
    </table>

    <ng-template #loading>
        <p>Carregando dados...</p>
    </ng-template>
    

</div>