<p></p>
<div class="w3-container">

    <button class="w3-btn w3-teal" routerLink="/contribuintes/novo">Novo</button>
    <p></p>
    
    <table aria-describedby="contribuintes" class="w3-table" 
        *ngIf="contribuintes$ | async as contribuintes; else loading">
        <tr class="w3-teal">
            <th>Id</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let contribuinte of contribuintes">
            <td>{{ contribuinte.id }}</td>
            <td>{{ contribuinte.nome }}</td>
            <td>{{ contribuinte.cpfcnpj | cpfcnpj }}</td>
            <td>#</td>
        </tr>
    </table>

    <ng-template #loading>
        <p>Carregando dados...</p>
    </ng-template>
    
    <p></p>

</div>
