<p></p>
<div class="w3-container">

    <button class="w3-btn w3-teal">Novo</button>
    <p></p>
    
    <table aria-describedby="refis" class="w3-table" 
        *ngIf="refis$ | async as refis; else loading">
        <tr class="w3-teal">
            <th>Id</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Tributo</th>
            <th>Situação</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let refis of refis">
            <td>{{ refis.id }}</td>
            <td>{{ refis.dataInicio }}</td>
            <td>{{ refis.dataFim }}</td>
            <td>{{ refis.tributo.nome }}</td>
            <td>{{ refis.ativo | ativo }}</td>
            <td>#</td>
        </tr>
    </table>

    <ng-template #loading>
        <p>Carregando dados...</p>
    </ng-template>
    

</div>
