<div class="w3-container">

    <div class="w3-container w3-teal">
        <h3>Cadastro de Destinação</h3>
    </div>

    <p></p>

    <div class="w3-row-padding">

        <div class="w3-third">

            <label>Id</label>
            <input id="txtID" class="w3-input" 
                type="text" placeholder="ID preenchido automaticamente" 
                [(ngModel)]="destinacao.id" readonly>

        </div>

        <div class="w3-rest">

            <label>Nome</label>
            <input id="txtNome" class="w3-input" 
                type="text" placeholder="Preencha o nome"
                [(ngModel)]="destinacao.nome">
            
        </div>

    </div>

    <p></p>

    <button class="w3-btn w3-teal" (click)="salvar()">Salvar</button>
    &nbsp;
    <button class="w3-btn w3-red" routerLink="/destinacoes">Cancelar</button>
</div>