<div class="w3-container w3-teal">
  <h1>Cálculo Tributos</h1>
</div>

<nav class="w3-bar w3-teal">
  <a routerLink='' class="w3-bar-item w3-button">Home</a>
  <a routerLink='destinacoes' class="w3-bar-item w3-button">Destinações</a>
  <a routerLink='tributos' class="w3-bar-item w3-button">Tributos</a>
  <a routerLink='contribuintes' class="w3-bar-item w3-button">Contribuintes</a>
  <a routerLink='refis' class="w3-bar-item w3-button">Refis</a>
  <a routerLink='duams' class="w3-bar-item w3-button">DUAMs</a>
</nav>

<p></p>

<router-outlet></router-outlet>
