<div class="w3-container">

    <div class="w3-container w3-teal">
        <h3>Cadastro de Contribuinte</h3>
    </div>

    <p></p>

    <div class="w3-row-padding">

        <div class="w3-third">

            <label>Id</label>
            <input id="txtID" class="w3-input" 
                type="text" placeholder="ID preenchido automaticamente" 
                [(ngModel)]="contribuinte.id" readonly>

        </div>

        <div class="w3-third">

            <label>Nome</label>
            <input id="txtNome" class="w3-input" 
                type="text" placeholder="Preencha o nome"
                [(ngModel)]="contribuinte.nome">
            
        </div>

        <div class="w3-third">

            <label>CPF/CNPJ</label>
            <input id="txtCPFCNPJ" class="w3-input" 
                type="text" placeholder="Preencha o CPF ou CNPJ"
                [(ngModel)]="contribuinte.cpfcnpj">
            
        </div>

    </div>

    <div class="w3-row-padding">

        <label>Endereço</label>
        <input id="txtEndereco" class="w3-input" 
            type="text" placeholder="Preencha o Endereço" 
            [(ngModel)]="contribuinte.endereco" readonly>

    </div>

    <div class="w3-row-padding">

        <div class="w3-twothird">

            <label>Cidade</label>
            <input id="txtCidade" class="w3-input" 
                type="text" placeholder="Preencha a Cidade" 
                [(ngModel)]="contribuinte.cidade" readonly>

        </div>

        <div class="w3-third">

            <label>Estado</label>
            <input id="txtEstado" class="w3-input" 
                type="text" placeholder="Preencha o estado"
                [(ngModel)]="contribuinte.estado">
            
        </div>

    </div>

    <div class="w3-row-padding">

        <div class="w3-half">

            <label>Telefone</label>
            <input id="txtTelefone" class="w3-input" 
                type="text" placeholder="Preencha o Telefone" 
                [(ngModel)]="contribuinte.telefone" readonly>

        </div>

        <div class="w3-half">

            <label>Celular</label>
            <input id="txtCelular" class="w3-input" 
                type="text" placeholder="Preencha o Celular"
                [(ngModel)]="contribuinte.celuar">
            
        </div>

    </div>

    <p></p>

    <button class="w3-btn w3-teal" (click)="salvar()">Salvar</button>
    &nbsp;
    <button class="w3-btn w3-red" routerLink="/contribuintes">Cancelar</button>
</div>