<div class="w3-container">

  <div class="w3-panel w3-red"  *ngIf="mensagem">
    <span (click)="limpaMensagem()" class="w3-button w3-right">&times;</span>
    <p>{{ mensagem.texto }}</p>
  </div> 

  <div class="w3-row-padding">

    <div class="w3-col s2">

      <label>Tributo</label>
      <select *ngIf="tributos$ | async as tributos; else loadingTributos"
        class="w3-select" id="selectEstado"
        [(ngModel)]="tributo">
        <option value="0" selected disabled>Selecione um tributo...</option>
        <option *ngFor="let tributo of tributos"
          [value]="tributo.id">{{ tributo.nome }}</option>
      </select>

      <ng-template #loadingTributos>
        <select class="w3-input" id="selectCarregandoTributos">
          <option value="" disabled selected>Carregando Tributos...<option>
        </select>
      </ng-template>

    </div>

    <div class="w3-col s2">

      <label>Contribuinte</label>
      <select *ngIf="contribuintes$ | async as contribuintes; else loadingContribuintes"
        class="w3-select" id="selectEstado"
        [(ngModel)]="contribuinte">
        <option value="0" selected disabled>Selecione um contribuinte...</option>
        <option *ngFor="let contribuinte of contribuintes"
          [value]="contribuinte.id">{{ contribuinte.nome }}</option>
      </select>

      <ng-template #loadingContribuintes>
        <select class="w3-input" id="selectCarregandoContribuintes">
          <option value="" disabled selected>Carregando Contribuintes...<option>
        </select>
      </ng-template>

    </div>

    <div class="w3-col s2">

      <label>Data de Pagamento:</label>
      <input [(ngModel)]="calculoInput.dataPagamento" class="w3-input" 
        type="date" required />

    </div>

    <div class="w3-col s2">

      <br>
      <button (click)="calcular()" class="w3-btn w3-teal" >Calcular</button>

    </div>

  </div> <!-- row -->

  <p></p>

  <table *ngIf="resultado$ | async as resultado;">
    <caption class="w3-teal">
      <strong>Resultado do Cálculo</strong>
    </caption>
    <tr class="w3-teal">
      <th scope="col">Valor da Multa</th>
      <th scope="col">Valor dos Juros</th>
      <th scope="col">Valor Total</th>
    </tr>
    <tr>
      <td>{{ resultado.valorMulta | currency : 'BRL' }}</td>
      <td>{{ resultado.valorJuros | currency : 'BRL' }}</td>
      <td>{{ resultado.valorTotal | currency : 'BRL' }}</td>
    </tr>
  </table>

</div>
